<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop name="acl" class="CustomerGroupAcl\Loop\AclLoop" />
        <loop name="customer-group-acl" class="CustomerGroupAcl\Loop\CustomerGroupAclLoop" />
    </loops>

    <forms>
        <form name="acl.form" class="CustomerGroupAcl\Form\AclForm" />
    </forms>

    <hooks>
        <hook id="customer_group_acl.hook" class="CustomerGroupAcl\Hook\CustomerGroupAclHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="customerGroupAclHookTool" active="1" />
        </hook>
    </hooks>
</config>
